body {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    height: 100vh;
    background-color: hwb(212deg 84% 6%);
    margin: 0;
    padding: 0;

}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%) ;  }

.contenedor {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 320px;
    padding: 10px;
    align-items: center;
}

.contenedor .bordercar .imageb {
    border-radius: 20px;
    ;
    padding: 12px;

}

.contenedor .bordercar {
    border-radius: 16px;
    height: auto;

}



.bordercar .attribution h4 {
    text-align: center;
    padding: 0;
    margin: 25px;
    color: hsl(218, 44%, 22%);

}
.bordercar .attribution p{
    text-align: center;
    margin: 20px;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}